body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.technomart {
  background-color: #f3f7f8;
}
.checkout {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}
.checkout a:hover{
  background-color: #5fbb2d;
}
.checkout a:active {
  background-color: #518534;
}
.breadcrumbs {
  list-style: none;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}
a {
  text-decoration: none;
}
.perforator {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
}
.filter fieldset {
  border: none;
}
.filter legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.filter ul {
  list-style:none;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

}
.logo-container {
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  background-image: url(img/content_img/logo-background.png);
}
.logo {
  height:19px;
  width:109px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 13px;
  padding-bottom: 15px;
}
.logo a:hover,
.logo a:focus {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}
.this-shop {
  text-decoration: none;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-transform: none;
}
.technomart .contacts {
  color: #e9292a;
  text-decoration: none;
  border: 3px solid #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}
.adress {
  color: #e9292a;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}
.upper-navigation {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  background-color: #293449;
}
.user-navigation {
  width: 121px;
  height: 45px;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}
.user-navigation a {
  color: #000000;
  background-color: #ffffff;
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}
.user-navigation a:active {
  opacity: 0.3;
  color: #000000;
  font-family: Cuprum;
}
.navigation {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}
.upper-navigation a,
.navigation a {
  color: #ffffff;
}
.upper-navigation a:hover,
.navigation a:hover,
.upper-navigation a:focus,
.navigation a:focus {
  background-color: #293449;
}
.navigation,
.upper-navigation,
.user-navigation {
  list-style: none;
}
.upper-navigation p {
  color: #ee3643;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}
.client-form {
  display: none;
}

.service {
  color: #000000;
  background-color: #f4f7f9;
  background-image: url("img/background_img/background_service.png");
  background-position: 0 0;
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.service h2 {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.delivery {
  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.select-service {
  list-style: none;
}
.select-service a {
  width: 240px;
  height: 61px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}
.select-service a:hover,
.select-service a:focus {
  background-color: #293449;
}
.select-service a:active {
  background-color: #ffffff;
  color: #32425c;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}
.about-us {
  background-color: #ffffff;
  color: #000000;
}
.about-us h2 {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.about-us p {
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}
.delivery {
  list-style:none;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  color: #000000;
}
.services-content {
  width:960px;
  height:300px;
  overflow:hidden;
}
.services-content ul {
  list-style: none;
  height: 320px;
  overflow: scroll;
  overflow-y: hidden;
}
.services-contentent ul li {
  width:960px;
  height:300px;
}
.click {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-inline-start: 47px;
  padding-right: 47px;
  padding-left: 47px;
  border-radius:3px;
}
.click:hover,
.click:focus {
  background-color: #ca2c37;
}
.click:active {

  background-color: #ba2732;

}
footer {
  background-color: #32425c;
}

.navigation-footer a {
  color: #ffffff;
}
.navigation-footer {
  list-style: none;
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}
.navigation-footer a:hover {
  text-decoration: underline;
}
.navigation-footer a:active {
  opacity: 0.5;
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer-catalog li {
  list-style: none;
}
.footer-catalog a{
  list-style: none;
  color: #ffd180;;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.footer-catalog a:hover {
  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
.footer-catalog a:active {
  opacity: 0.5;
  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}
.useful-links a {
  list-style: none;
  color:#ffffff;
}
.footer-logocontainer {
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.footer-logo {
  height:23px;
  width:138px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
}
.contacts {
  list-style: none;
  color: #ffffff;
  width: 135px;
  height: 32px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border: 0px;
}
.footer-bottom {
  background-color:#293449;
}
.contacts a {
  list-style: none;
  color: #ffd180;
  width: 135px;
  height: 32px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border: 0px;
}
.catalog-perforator {
  list-style:none;
 }
.catalog-item {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.catalog-item a {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}
.price b {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color:#ee3643;
  border-radius: 6px;
  padding-top: 13px;
  padding-bottom:13px;
  padding-left:36px;
  padding-right:36px;
  position: relative;
}
.price b:after{
  content: '';
  position: absolute;
  left: 135px; bottom: 0px;
  border: 23px solid transparent;
  border-left: 20px solid #ee3643;;
}
.previous-price {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;

}
.pop-up-to-buy {
  display:none;
}
